/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* general layout */

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: auto;
    grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "slider slider slider slider"
            "contentNavigation mainContent mainContent  mainContent"
            "footer footer footer footer";
}

/* header layout */
header {
    grid-area: header;
    text-align: center;
    margin-top: 2em;
}

header h1 {
    font-size: 3.5em;
    font-family: 'Josefin Sans', sans-serif;
}

header .headline {
    font-size: 1.15em;
    font-family: 'Josefin Sans', sans-serif;
}

/* navigation menu layout */

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 1.25em 0;
}

nav .information {
    align-self: flex-end;
}

nav .information ul li {
    display: inline;
    padding: 0 1em;
    font-size: 1.25em;
    cursor: pointer;
    taransition: color 0.5s;
    font-family: 'Josefin Sans', sans-serif;
}

nav .information ul li a {
    text-decoration: none;
    color: black;
}

nav input,
nav .information .toggleMenu {
    display: none;
}

/* modal window layout */

.popup h2 { /* заголовок 2 */
    font-size: 1.5em;
}
/* Базовые стили слоя затемнения и модального окна  */

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

/* стили модального окна */
.popup {
    top: 0;
    right: 0;
    left: 50%;
    font-size: 14px;
    font-family: 'Tahoma', Arial, sans-serif;
    z-index: 10000;
    margin: 0 auto;
    width: 100%;
    height: auto;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    /* трансформация */
    -webkit-transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    -o-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    /* анимируем трансформацию */
    -webkit-transition: transform 0.6s ease-out;
    -moz-transition: transform 0.6s ease-out;
    -ms-transition: transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    box-sizing: border-box;
}
/* активируем мод. окно */
.overlay:target+.popup {
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.close {
    position: absolute;
    padding: 0;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    border: 2px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: background-color ease .7s;
    -moz-transition:  background-color ease .7s;
    -ms-transition:  background-color ease .7s;
    -o-transition:  background-color ease .7s;
    transition: background-color ease .7s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: '\2715';
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;

}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}

/* signUp form layout */

.signUpContainer {
    width: 100%;
    min-width: 320px;
    max-width: 520px;
    margin: 0 auto;
    position: relative;
}

.signUpContainer form {
    margin: 0 auto;
}

.signUp input[type="text"],
.signUp input[type="email"],
.signUp input[type="password"],
.signUp button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.signUp {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.signUp h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
}

.signUp h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

fieldset {
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.signUp input[type="text"],
.signUp input[type="email"],
.signUp input[type="password"] {
    width: 95%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}


.signUp button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(255, 214, 77);
    color: rgb(41, 41, 41);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 0.3em;
}

.signUpt input:focus,
.signUp textarea:focus {
    border: 1px solid #aaa;
}


/* slider layout */

.slider {
    grid-area: slider;
}

.sliderContainer {
    position: relative;
}

.slider .sliderContainer .slideItem img {
    display: none;
    width: 100%;
    height: auto;
    max-height: 450px;
}

.sliderContainer .slideItem:first-child img {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .sliderContainer .slideItem .centered:not(.active)  {
    display: none;
}

.centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider .sliderContainer .slideItem .centered  {
    width: 100%;
    text-align: center;
    font-size: 1.75em;
    font-family: 'Josefin Sans', sans-serif;
}

/* content navigation layout */

.contentNavigation {
    grid-area: contentNavigation;
    text-align: center;
    width: 324px;
    display: flex;
    flex-flow: column nowrap;
}

.contentNavigation input[type="name"],
.contentNavigation input[type="text"],
.contentNavigation input[type="url"],
.contentNavigation input[type="range"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 45px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.20em;
}

.contentNavigation button[type='submit'] {
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    padding: 8px 18px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 0.3em;
    font-family: 'Josefin Sans', sans-serif;

}

.searchOptions {
    text-align: left;
    margin-top: 1.5em;
}

.searchOptions h3 {
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5em 0;
    cursor: pointer;
    text-decoration: underline;
}


.searchOptions ul li ul  {
    text-align: center;
}

.searchOptions ul {
    display: none;
    margin-bottom: 1em;
}

.preActive {
    opacity: 0;
    transform: translateY(-50px);
}

.active {
    transition: opacity 0.3s, transform 0.3s;
}

.hide {
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(-50px);
    opacity: 0;
}


.searchOptions i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin: 0 0 2px 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* mainContent layout */

.mainContent {
    grid-area: mainContent;
    word-break: break-all;
    overflow: scroll;
}

.content {
    max-height: 800px;
}

.embedVideo {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: scroll;
}

.embedVideo iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embedPicture img {
    width: 100%;
    height: auto;
}

.elementId {
    display: none;
}

.contentItem {
    margin-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
}

.contentItem .props h1 {
    font-size: 2em;
    margin: 5px 0;
}

.contentItem h3 {
    font-size: 1.5em;
}

.contentItem p {
    margin-top: 5px;
}

.contentItem p {
    font-size: 1.15em;
}

.noResult {
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

/* footer layout */

footer {
    grid-area: footer;
    margin-bottom: 1em;
}

footer .social {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0.5em 0;
}

.social a {
    width: 41px;
    height: 41px;
    display: block;
}

.tw {
    background: url(images/sprites/sprite.png);
    background-position: 0 0;
}

.fb {
    background: url(images/sprites/sprite.png);
    background-position: 0 -41px;
}

.google {
    background: url(images/sprites/sprite.png);
    background-position: 0 -82px;
}

.pin {
    background: url(images/sprites/sprite.png);
    background-position: 0 -123px;
}

/* hover effects */

nav ul li a:hover {
    color: #2CBBBB;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.tw:hover {
    background-position: -42px 0;
}
.fb:hover {
    background-position: -42px -41px;
}
.google:hover {
    background-position: -42px -82px;
}
.pin:hover {
    background-position: -42px -123px;
}

.signUp button[type="submit"]:hover,
.contentNavigation button[type='submit']:hover,
.searchOptions button[type='submit']:hover {
    background: rgb(192, 192, 192);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

/* contact us layout */

.contactUs h3 {
    font-size: 1.4em;
    margin: 1em 0 1.5em 0;
    font-family: 'Josefin Sans', sans-serif;
}

.contactUs ul li {
    padding: 0.5em 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
}

.contactUs ul i {
    font-size: 1em;
    padding-right: 0.5em;
}


/* media query */

@media screen and (max-width: 765px) {
    nav .information ul li {
        display: none;
        padding: 5px 2px;
        font-size: 1.15em;
    }

    nav .information .toggleMenu {
        display: block;
        font-size: 1.5em;
    }

    nav .information {
        align-self: flex-start;
    }

    #toggleMenu:checked ~ li {
        display: block;
    }

    .wrapper {
        grid-template-areas:
                "header header header header"
                "nav nav nav nav"
                "slider slider slider slider"
                "contentNavigation contentNavigation contentNavigation contentNavigation"
                "mainContent mainContent mainContent mainContent"
                "footer footer footer footer";
    }

    .contentNavigation {
        margin: 0 auto;
        width: 60%;
    }

    .slider .sliderContainer .slideItem .centered {
        font-size: 1.5em;
    }

    .mainContent {
        max-width: 100%;
    }

    .content {
        max-height: 600px;
    }

    .signUp input[type="text"],
    .signUp input[type="email"],
    .signUp input[type="password"] {
        width: 1
    }

    .searchOptions {
        display: inline;
    }

}

@media screen and (max-width: 465px){
    nav .information .toggleMenu {
        font-size: 1.25em;
    }

    nav .information ul li {
        font-size: 1em;
    }

    .formRegistration ul li {
        font-size: 1em;
    }

    form,
    .contentNavigation {
        width: 100%;
    }

    .wrapper {
        grid-template-areas:
                "header header header header"
                "nav nav nav nav"
                "slider slider slider slider"
                "contentNavigation contentNavigation contentNavigation contentNavigation"
                "mainContent mainContent mainContent mainContent"
                "footer footer footer footer";
    }

    .slider .sliderContainer .slideItem .centered {
        font-size: 1.25em;
    }

    .contentItem .propsDiscription p {
        font-size: 1em;
        padding: 0.2em;
    }


    .signUpContainer {
        max-width: 320px;
        overflow: hidden;
    }

    .signUp input[type="text"],
    .signUp input[type="email"],
    .signUp input[type="password"]{
        width: 70%;
    }

    .signUp button[type="submit"] {
        width: 77%;
    }

    .content {
        max-height: 400px;
    }

    .close {
        right: 0;
        top: 0;
    }

    .searchOptions h3 {
        font-size: 1em;
    }

}





